<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <title>Demo</title>
    <link rel="stylesheet"
          th:href="@{/css/demo.css}" />

</head>

<body>

<p th:text="'Time on the server is ' + ${theDate}" class="hello"/>

<p>Established locale country: <span th:text="${#locale.country}">US</span>.</p>
</body>

</html>






