<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Save employee</title>
</head>

<body>

<div class="container">

    <h3>Employee Directory</h3>
    <hr/>
    <p class="h4 mb-6">Save Employee</p>

    <form action="#" th:action="@{/employees/save}"
          th:object="${employee}"
          method="post"
          class="mt-4">

        <input type="hidden" th:field="*{id}">


        <label class="text-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" for="first-name">First
            Name</label>
        <input type="text"
               th:field="*{firstName}"
               class="form-control mb-4 col-4"
               placeholder="Nome"
               id="first-name"
        >

        <label class="text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
               for="last-name">Name</label>
        <input type="text"
               th:field="*{lastName}"
               class="form-control mb-4 col-4"
               placeholder="Last Name"
               id="last-name"
        >

        <label class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}" for="email">Name</label>
        <input type="text"
               th:field="*{email}"
               class="form-control mb-4 col-4"
               placeholder="Email"
               id="email">

        <button type="submit"
                class="btn btn-info col-2 mb-4">Save</button>
    </form>

    <hr/>
    <a th:href="@{/employees/list}" >Back to list</a>


</div>

</body>
</html>



